<?xml version="1.0"?>
<launch>
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="iris_fpv_cam"/>
        <!-- <arg name="world" value="<path-to-world>"/> -->
    </include>

    <node name="control" pkg="drone-intro-final-project" type="main.py" output="screen" required="true"/>
</launch>
