<?xml version="1.0"?>
<launch>
    <include file="$(find drone-intro-final-project)/launch/sim.launch">
    </include>

    <node name="aruco" pkg="drone-intro-final-project" type="aruco_detector.py" output="screen" required="true"/>
    <node name="control" pkg="drone-intro-final-project" type="main.py" output="screen" required="true"/>
</launch>
